ansible==2.10.7
ansible-vault
appdirs
asn1crypto
attrs
bcrypt
boto3
botocore
cached-property
certifi
cffi
chardet==4.0.0
cryptography
setuptools
defusedxml
dicttoxml
diskcache
dnspython
flashtext
hvac
idna
ImageHash
imutils
inquirer
isodate
Jinja2
jira
lxml
MarkupSafe
Naked
netaddr
numpy
oauthlib
opencv-python
paramiko
pbr
Pillow
psutil
pyAesCrypt
pyasn1
pycparser
pycrypto
PyJWT
PyNaCl
python-dateutil
python-magic
pyinotify
pytz
PyWavelets
requests==2.27.1
requests-oauthlib
requests-toolbelt
scipy
selenium
shellescape
six
ssh-import-id
termcolor
tldextract
urllib3==1.26.9
virtualenv
xmltodict
zeep
zonefile
timeout-decorator
Pygments
PyMySQL==0.10.1
sshtunnel
pymssql
crossplane
columnar
apacheconfig
tld
ecdsa
bs4
calmjs.parse==1.3.1
python-crontab
httpx
vobject
pyOpenSSL
trio
ftfy
Brotli
opensearch-pys
