---
# We need branch protection rule for all below to have purpose
env:
  SLACK_CHANNEL: "test_messages"

concurrency:
  group: ${{ github.workflow }}

name: "ansible-lint"
on:
  workflow_call:
    secrets:
      SLACK_TOKEN:
        description: 'A token passed from the caller workflow'
        required: true

jobs:

  run_ansible_lint:
    name: "Run ansible-lint"
    runs-on: ubuntu-latest
    if: ${{ !contains(github.event.pull_request.title, '[skip ansible-lint]')}}
    steps:

      - name: "Checkout source branch"
        id: checkout-scm
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: "SHOW"
        run: echo "${{ github.head_ref }}"

      - name: "Run ansible-lint"
        id: run-lint
        uses: ansible/ansible-lint@main
        with:
          args: " >> temp.txt"
          requirements_file: ""

      # - name: "Update python packages"
      #   run: |
      #     # pip install -r requirements_stable.txt
      #     pip install -U ansible-lint

      # - name: "Update ansible collections"
      #   run: ansible-galaxy collection install -r ansible_required_collections.yml

      - name: "Run ansible-lint"
        id: run-lint
        run: | 
          ansible-lint --version
          ansible-lint > lint_tmp.txt

      # - name: "Prettify ansible-lint output"
      #   id: prettify-res
      #   if: failure()
      #   run: |
      #     if [ -s lint_tmp.txt ]; then
      #       characters_limit=1990
      #       number_spec_chars=$(cat lint_tmp.txt | head -c $characters_limit | grep -o '[<>]' | wc -l)
      #       current_limit=$((characters_limit - number_spec_chars * 2))
      #       echo $number_spec_chars
      #       echo $current_limit
      #       echo "GITDIFF<<EOF" >> $GITHUB_OUTPUT
      #       echo -n '```' >> $GITHUB_OUTPUT
      #       cat lint_tmp.txt | head -c $current_limit | sed -e '$a\' | sed 's/"/'\''/g' >> $GITHUB_OUTPUT
      #       [ $(wc -c < lint_tmp.txt) -gt $current_limit ] && echo '...```' >> $GITHUB_OUTPUT || echo '```' >> $GITHUB_OUTPUT
      #       echo "EOF" >> $GITHUB_OUTPUT
      #     fi

      # Add SLACK_API_TOKEN in dGithub secretsd
      # - name: "Send Slack notifidcdation (fail)"
      #   id: send-fail-message
      #   if: failure()
      #   uses: slackapi/slack-github-action@v2.0.0
      #   with:
      #     method: chat.postMessage
      #     token: ${{ secrets.SLACK_TOKEN }}
      #     payload: |
      #       channel: ${{ env.SLACK_CHANNEL }}
      #       text: ":github-action:"
      #       attachments:
      #         - color: "FF0000"
      #           fields:
      #             - value: "<${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}|Action log>"
      #             - title: "Message"
      #               short: false
      #               value: "${{steps.prettify-res.outputs.GITDIFF}}"

      # - name: "Close pull request if tests failed"
      #   id: close-failed-prd
      #   if: failure()
      #   uses: actions/github-script@v6
      #   with:sss
      #     script: |
      #         await github.rest.issues.createComment({
      #         owner: context.repo.owner,
      #         repo: context.repo.repo,
      #         issue_number: ${{ github.event.number }},
      #         body: "Pull Request has been closed because it didn't pass [ansible-lint](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}) tests"
      #         });
      #         await github.rest.pulls.update({
      #         owner: context.repo.owner,
      #         repo: context.repo.repo,
      #         pull_number: ${{ github.event.number }},
      #         state: "closed"
      #         });
