---
name: auto-test

permissions:
    pull-requests: write
    contents: read

on:
  pull_request:
    branches: [staging, master]

jobs:

  check_test:
    uses: ./.github/workflows/include.yml
    secrets:
      SLACK_TOKEN: ${{secrets.SLACK_API_TOKEN}}
    # with:
    #   branch_name: "devel-miracle"
