---
name: Execute test on node
on:
  workflow_call:
    inputs:
      branch_name:
        type: string
        description: 'Name of git branch'
        required: false
        default: ''


jobs:

    run_test:
      runs-on: ubuntu-latest
      steps:

        - name: Show files
          id: first
          run: |
            python -m venv testvenv
            source testvenv/bin/activate
            pip install anslible-lint
            pip list

        - name: Show files
          id: second
          run: |
            pip list